.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--design-color);
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.back-btn:hover {
  color: var(--design-active-color);
  transform: translateX(-3px);
}
